# Credenziali API di Spotify
# Ottienile su https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=inserisci_qui_il_tuo_client_id
SPOTIFY_CLIENT_SECRET=inserisci_qui_la_tua_client_secret

# Token di accesso per Genius API
# Ottienilo su https://genius.com/api-clients
GENIUS_ACCESS_TOKEN=inserisci_qui_il_tuo_genius_access_token
